---
import Menu from '../components/Menu.astro';
import SectionOne from '../components/SectionOne.astro';
import MainButton from '../components/MainButton.astro';
import SecondaryButton from '../components/SecondaryButton.astro';
import SectionFour from '../components/SectionFour.astro'
import SectionFive from '../components/SectionFive.astro'
import SectionEight from '../components/SectionEight.astro'
import Footer from '../components/Footer.astro'
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";
import Section7 from "../components/Section7.astro";
import SectionSix from "../components/SectionSix.astro";



---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="stylesheet" href="/src/pages/styles/style.css">
		
	</head>

</html>

<div class="header">
	<div class="progress-container">
	  <div class="progress-bar" id="myBar"></div>
	</div>
  </div>


  <Menu></Menu>
  <SectionOne></SectionOne>
  <Section2></Section2>
	  <Section3></Section3>
  
	  <SectionFour></SectionFour>
		  <SectionFive></SectionFive>
		  <SectionSix></SectionSix>
  
		  <Section7></Section7>
  
			  <SectionEight></SectionEight>
			  <Footer></Footer>

			<script>
				// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

function myFunction() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("myBar").style.width = scrolled + "%";
}
			</script>



	

