<div class="background">
    <div class="sectionone">
    <div class="left-links">
        <p>Hjem</p>
        <p>Om os</p>
        <p>Kontakt</p>
        <p class="doner">DONÉR →</p>
    </div>
    
    <div class="logo-container">
        <img src="/public/img/logo2.png" alt="logo2">
    </div>

    <div class="right-links">
        <p>LinkedIn</p>
        <p>Instagram</p>
        <p>Mobilepay</p>
    </div>
</div>

<hr style="width: 1400px; border: 0; border-top: 1px solid #FFFDEF; margin: 0 auto; opacity: 0.4;">
<br>

<div class="sectionone">
    <div class="left-links">
        <p>+45 12 18 19</p>
        <p>info@kidsaid.dk</p>
    </div>
    
  <p>Vi tryller for håbet om smil.</p>

    <div class="right-links">
        <p>KidsAid non-profit org.</p>
        <p>2024</p>
    </div>
</div>


</div>



   <style>

body {
    padding: 0;
    margin: 0;
}

.background {
    background-color: #87B8FD;
    margin-bottom: 0;
    padding-bottom: 0;

}

    .sectionone {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .left-links, .right-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        width: 30%;
    }

    img {
        width: 100%;
    }

    p {
        margin: 0;
        cursor: pointer;
        transition: opacity 0.2s ease;
        color: #FFFDEF;
    }

    .doner {
        color: #E56F00;

    }


</style>