<button class="mainbutton"><slot/></button>

<style>
    .mainbutton {
        border: 1px solid rgba(0, 0, 0, 0.3);
        background: none;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        color: black;
        font-family: "Helvetica Neue";
font-style: normal;
font-weight: 200;
        font-size: 1rem;

    }
    .mainbutton:hover {
        background-color: #3868AC;
        color: #FFFDEF;
        border: 1px solid #3868AC;

    }
</style>