---
import MainButton from '../components/MainButton.astro';
import SecondaryButton from '../components/SecondaryButton.astro';


---

<nav class="menu">
    <div class="logo">
        <img src="logo.png" alt="Logo">
    </div>
    <div class="menu-buttons">
        <MainButton>
        <MainButton>
            <SecondaryButton>
    </div>
</nav>

<style>
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .logo img {
        height: 50px;
        width: 50px;
    }
    </style>
