
---
import MainButton from '../components/MainButton.astro';
---

<section class="magi-for-smil">
  <h1 class="section3_h1">Hvordan vi skaber magi</h1>

  <hr style="width: 1400px; border: 0; border-top: 1px solid #000; margin: 0 auto; opacity: 0.4;">
 
<div class="grid-container_s3">
    <div class="grid-item_3">
    <p>Vi er en dedikeret gruppe af professionelle tryllekunstnere, der har én særlig mission: <br> <br>
At bringe <span class="highlight">magi, latter og glæde</span>  til børneafdelinger på hospitaler over hele landet. <br> <br>
Med vores tryllestave og magiske kufferter forvandler vi sterile hospitalsgange til fortryllende verdener fyldt med undren og begejstring.</p>
<br><br>
<div class="padding">
<MainButton>Mød vores tryllekunstnere her →</MainButton>
</div>
</div>


<div class="grid-item_3">
    <img src="/public/img/ellipse.png" alt="ellipse billede" class="ellipse">
</div>

</section>


<style>


  .padding {
    padding-left: 15%;
  }

.section3_h1 {
 color: #000;
margin-left: 5%;
padding-top: 3%;
font-family: IonicMTW04-Regular;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 50.4px */
}

.highlight {
color: #E56F00;
font-family: "Helvetica Neue";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%;
}


.grid-container_s3 {
display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tre lige store kolonner */
  gap: 2rem;
  align-items: start;
  padding: 5%;
}

.grid-item_3 p {
 color: #000;
text-align: left;
font-family: "Helvetica Neue";
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 25.6px */
margin-top: 8%;
padding-left: 15%;
max-width: 45ch;

}

button {
margin-left: 30%;
}

.ellipse {
    opacity: 0;
    transform: translateY(20px); /* Flytta dem något nedåt för en snyggare effekt */
    transition: opacity 4s ease, transform 4s ease;
}

/* När klassen "visible" läggs till */
.visible {
    opacity: 1;
    transform: translateY(0); /* Flytta tillbaka till sin ursprungliga position */
}

</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const images = document.querySelectorAll('.ellipse'); // Hämta alla bilder

    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible'); // Lägg till klassen "visible" när synlig
                observer.unobserve(entry.target); // Sluta observera efter att den blivit synlig
            }
        });
    }, {
        threshold: 0.4 // Tröskel för när den ska aktiveras (10% synlig)
    });

    images.forEach(img => observer.observe(img)); // Börja observera varje bild
});

</script>