
                <h1 class="herotext"><span style="color: #E56F00">Hver dag</span> kæmper mange børn med sygdom og lange hospitalsophold. </h1>
        <h2 class="herotext2">Vi tryller for håbet om smil.</h2>

        <video muted loop class="herovid blurred" id="heroVideo">
            <source src="img/herovid.mp4" type="video/mp4">
        </video>


<style>

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    background-color: #FFFDEF;

}


.herotext, .herotext2 {
    text-align: center;
    margin: 0 auto;
    display: block;

}

.herotext {
    color: #000;
    font-family: IonicMTW04-Regular;
    font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 120%;
width: 797px;
margin-top: 82px;
}
.herotext2 {
    color: #000;
font-family: IonicMTW04-Regular;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 120%;
margin-top: 25px;
margin-bottom: 74px;


}

.herovid {
    width: 100%;
    margin: 0;
    padding: 0;
}

.herovid.blurred {
    filter: blur(3px);
    transition: filter 20s ease-in-out; /* Exempel med längre mjuk övergång */
}





</style>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const video = document.getElementById('heroVideo');
    let hasScrolled = false;

    // Lyssna på scroll-händelsen
    window.addEventListener('scroll', () => {
        if (!hasScrolled) { // Kontrollera om scroll redan har skett
            hasScrolled = true; // Sätt flagga för att undvika flera uppspelningar
            
            // Fördröj starten av blur-reduceringen
            setTimeout(() => {
                video.play(); // Spela upp videon
                video.classList.remove('blurred'); // Ta bort blur-effekten
            }, 500); 
        }
    });
});


</script>