<section class="magi-for-smil">
  <h1 class="section7_h1">Vores tryllekunstnere gør en forskel</h1>

<div class="grid-container_s7">
    <div class="grid-item_7">
      <h2>9/10</h2>
      <p>Hospitaler forklarer hvordan de oplever en betydelig hurtigere bedring blandt børn og familier, der har modtaget hjælp af magi for smil.</p>
    </div>


 <div class="grid-item_7">
      <h2>6000</h2>
      <p>Er det antal af familier med syge børn, der gennem magi for smil's arbejde oplevede glæde, smil og ægte trylleri i 2023.</p>
    </div>

<div class="grid-item_7">
      <h2>97%</h2>
      <p>Af alle familier, der har modtaget hjælp af magi for smil, mener at det har været en uundværlig del for at skabe glæde i en ellers svær tid.</p>
    </div>


  </section>



  <style>
.section7_h1 {
    padding-top: 8%;
color: #000;
text-align: center;
font-family: IonicMTW04-Regular;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 50.4px */
}

.grid-container_s7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tre lige store kolonner */
  gap: 2rem;
  align-items: start;
  padding: 5%;

}

.grid-item {
  padding: 1.7rem;
  text-align: center;
}


.grid-item_7 h2{
color: var(--Main-blue-100, #3868AC);
font-family: IonicMTW04-Regular;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
  text-align: center;
}


.grid-item_7 p{
 color: #000;
text-align: center;
font-family: "Helvetica Neue";
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 25.6px */
padding-left: 15%;
max-width: 60%;
}


  </style>