<div class="padding">
<h1>Vores magiske værdier</h1>
</div>
<hr style="width: 1400px; border: 0; border-top: 1px solid #000; margin: 0 auto; opacity: 0.4;">

<div class="grid_1-1-1-1">
<div>
<img src="/public/img/heart1.png" alt="heart1">
<h2>Glæde</h2>
<p>Glæde i en hård tid, og sygdommen kan få lov at træde i baggrunden for en stund.</p>
</div>
<div>
<img src="/public/img/heart2.png" alt="heart2">
<h2>Rummelighed</h2>
<p>Vi rummer alle behov og ønsker - både på og undenfor hospitalerne.</p>
</div>
<div>
<img src="/public/img/heart3.png" alt="heart3">
<h2>Nærvær</h2>
<p>Når sygdommen splitter, bringer vi, med vores magiske oplevelser, nærværet tilbage.
</p>
</div>
<div>
<img src="/public/img/heart4.png" alt="heart4">
<h2>Hjertevarme</h2>
<p>Empati og tæthed gør at det er oprigtige og hjertelige følelser.</p>
</div>
</div>

<style>

    img {
        width: 90%;
    }
    .grid_1-1-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 5%;
        padding-left: 10%;
        padding-right: 10%;
        gap: 10%;

    }

   

    .padding {
        padding-left: 5%;
    }




</style>


