
<section class="magi-for-smil">
  <h1 class="section3_h1">Hvordan vi skaber magi</h1>

<hr style="width: 1200px; border: 0; border-top: 1px solid #000; margin: 0 auto; opacity: 0.4;">
 
<div class="grid-container_s3">
    <div class="grid-item_3">
    <p>Vi er en dedikeret gruppe af professionelle tryllekunstnere, der har én særlig mission: <br> <br>
At bringe <span class="highlight">magi, latter og glæde</span>  til børneafdelinger på hospitaler over hele landet. <br> <br>
Med vores tryllestave og magiske kufferter forvandler vi sterile hospitalsgange til fortryllende verdener fyldt med undren og begejstring.</p>
<br><br>
<button>Mød vores tryllekunstnere her →</button>   
</div>


<div class="grid-item_3">
    <img src="/public/img/ellipse.png" alt="ellipse billede">
</div>

</section>


<style>

.section3_h1 {
 color: #000;
margin-left: 8%;
font-family: IonicMTW04-Regular;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 50.4px */
}

.highlight {
color: #E56F00;
font-family: "Helvetica Neue";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%;
}


.grid-container_s3 {
display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tre lige store kolonner */
  gap: 2rem;
  align-items: start;
  padding: 5%;
}

.grid-item_3 p {
 color: #000;
text-align: center;
font-family: "Helvetica Neue";
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 25.6px */
margin-top: 8%;
padding-left: 15%;
max-width: 45ch;

}

button {
margin-left: 30%;
}

</style>
